.bg-white {
  background-color: white;
  margin-bottom: 30px;
}
.custom-width {
  width: 99.99% !important;
}

.customHeight {
  height: 470px;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.previewPage {
  height: 100%;
  overflow-x: hiden;
  overflow-y: hidden;
  margin-bottom: 20px;
}

.right-addon .innerText {
  right: 35px;
  padding: 5px 0px;
  cursor: pointer;
}
