<div class="headerBar">
  <app-header></app-header>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-4 left-section"></div>
    <div class="col-12 col-sm-8 right-section">
      <div class="d-flex justify-content-center align-items-center mt-5 pt-5">
        <div>
          <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePasswordForm()">
            <div class="borderContainer">
              @if (step == 1) {

              <div class="text-center mb-4">
                <div>
                  <img [src]="lockImg" alt="Reset Password" height="40px" />
                </div>

                <div class="mt-1 fw-bold text-primary">Reset Password</div>
                <div class="mt-1 fs-15">
                  We'll send you a one time password (OTP) to verify your email
                </div>
              </div>

              <div class="form-group mb-3">
                <input
                  type="email"
                  class="form-control custom-input cutsom-input-height-45"
                  placeholder="Email*"
                  formControlName="email"
                  [ngClass]="{
                      'is-valid':
                        changePasswordFormControls['email'].dirty &&
                        changePasswordFormControls['email'].valid,
                      'is-invalid custom-input-error':
                        (changePasswordFormControls['email'].dirty ||
                          changePasswordFormControls['email'].touched) &&
                        changePasswordFormControls['email'].invalid,
                    }"
                />

                @if ( (changePasswordFormControls["email"].dirty ||
                changePasswordFormControls["email"].touched) &&
                changePasswordFormControls["email"].invalid ) { @if (
                changePasswordFormControls["email"].hasError("required") ) {
                <div class="text-danger fs-12 ps-1 mt-1">Email is mandatory!</div>
                } @if ( changePasswordFormControls["email"].hasError("email") ) {
                <div class="text-danger fs-12 ps-1 mt-1">Invalid email!</div>
                } }
              </div>

              <div class="d-grid">
                @if (!loader) {
                <button
                  type="button"
                  class="btn btn-primary"
                  [disabled]="changePasswordForm.invalid"
                  (click)="sendOtp()"
                >
                  Send OTP
                </button>
                } @if (loader) {
                <button type="button" class="btn btn-primary cursor-progress">
                  <div class="spinner-border spinner-border-sm" role="status"></div>
                </button>
                }
              </div>

              } @if (step === 2) {

              <div class="text-center mb-2">
                <img alt="email-otp-verify" src="assets/icons/email_verify_otp.png" width="40px" />
              </div>

              <div class="fw-bold text-center mb-2 fs-17">Email Verification</div>

              <div class="text-center fs-15">Enter the verification code sent to</div>

              <div class="text-center text-primary fw-bold fs-20 mt-2">
                {{ changePasswordFormControls['email'].value | fixedMaskData : 'email' }}
              </div>

              <div class="text-center my-4">
                <ng-otp-input
                  [config]="ngOtpConfig"
                  (onInputChange)="onOtpChange($event)"
                ></ng-otp-input>
              </div>


                @if(resendOtpTimer$ | async; as time) {
                @if (time.minutes > 0 || time.seconds > 0) {
                <div class="text-center">
                  @if (!loader) {
                  <button
                    type="button"
                    class="btn btn-primary padding-inline-150"
                    [disabled]="changePasswordForm.invalid"
                    (click)="verifyOtp()"
                  >
                    Verify
                  </button>
                  } @if (loader) {
                  <button type="button" class="btn btn-primary padding-inline-150 cursor-progress">
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                  </button>
                  }
                </div>

                @if (time) {
                <div class="text-center fs-13 mt-1">
                  <div>
                    Haven't received OTP ? Resend OTP in
                    <span class="text-danger fw-bold">{{ time.minutes }}m {{ time.seconds }}s</span>
                  </div>
                </div>
                } } @if (time.minutes === 0 && time.seconds <= 0) {
                <div class="text-center">
                  @if (!resendOtpLoader) {
                  <button
                    type="button"
                    class="btn btn-secondary padding-inline-130"
                    (click)="resendOtp('EMAIL')"
                  >
                    Resend OTP
                  </button>
                  } @if (resendOtpLoader) {
                  <button
                    type="button"
                    class="btn btn-secondary padding-inline-150 cursor-progress"
                  >
                    <div class="spinner-border spinner-border-sm" role="status"></div>
                  </button>
                  }
                </div>
                }
              }


              } @if (step === 3) {
              <div class="text-center">
                <div>
                  <img alt="reset-passord" src="assets/icons/reset_password.png" width="40px" />
                </div>
                <div class="my-1 fw-bold">Reset Password</div>
                <div class="alert alert-warning fw-bold fs-12 d-flex flex-row" role="alert">
                  <div class="text-end">
                    <i class="bi bi-exclamation-circle-fill"></i>
                  </div>
                  <div class="text-dark ps-1">
                    We recommend to use a strong password to keep your account secure.
                  </div>
                </div>
              </div>

              <div class="form-group mb-3 inner-addon right-addon">
                @if (showVisibilityIcon) {
                <span class="innerText" (click)="togglePasswordVisibility1()">
                  @if (fieldTextType) {
                  <i class="bi bi-eye-slash"></i>
                  } @else {
                  <i class="bi bi-eye"></i>
                  }
                </span>
                }

                <input
                  [type]="fieldTextType ? 'text' : 'password'"
                  class="form-control custom-input cutsom-input-height-45"
                  placeholder="New Password*"
                  formControlName="password"
                  [ngClass]="{
                    'is-valid':
                      changePasswordFormControls['password'].dirty &&
                      changePasswordFormControls['password'].valid,
                    'is-invalid custom-input-error':
                      (changePasswordFormControls['password'].dirty ||
                        changePasswordFormControls['password'].touched) &&
                      changePasswordFormControls['password'].invalid,
                  }"
                />

                @if ( changePasswordForm.value.password &&
                !changePasswordFormControls["password"].hasError("minlength") ) {
                <div class="ms-2">
                  <app-password-strength [passwordToCheck]="changePasswordForm.value.password">
                  </app-password-strength>
                </div>
                } @if ( (changePasswordFormControls["password"].dirty ||
                changePasswordFormControls["password"].touched) &&
                changePasswordFormControls["password"].invalid ) { @if (
                changePasswordFormControls["password"].hasError("required") ) {
                <div class="text-danger fs-12 ps-1 mt-1">Password is mandatory!</div>
                } @if ( changePasswordFormControls["password"].hasError("minlength") ) {
                <div class="text-danger fs-12 ps-1 mt-1">
                  Password must be at least 8 characters long!
                </div>
                } }
              </div>

              <div class="form-group mb-3 inner-addon right-addon">
                @if (showVisibilityIcon) {
                <span class="innerText" (click)="togglePasswordVisibility2()">
                  @if (fieldTextType2) {
                  <i class="bi bi-eye-slash"></i>
                  } @else {
                  <i class="bi bi-eye"></i>
                  }
                </span>
                }

                <input
                  disableCutCopyPaste
                  autocomplete="off"
                  [type]="fieldTextType2 ? 'text' : 'password'"
                  class="form-control custom-input cutsom-input-height-45"
                  placeholder="Confirm Password*"
                  formControlName="confirmPassword"
                  [ngClass]="{
                    'is-valid':
                      changePasswordFormControls['confirmPassword'].dirty &&
                      changePasswordFormControls['confirmPassword'].valid,
                    'is-invalid custom-input-error':
                      (changePasswordFormControls['confirmPassword'].dirty ||
                        changePasswordFormControls['confirmPassword']
                          .touched) &&
                      changePasswordFormControls['confirmPassword'].invalid,
                  }"
                />

                @if ( (changePasswordFormControls["confirmPassword"].dirty ||
                changePasswordFormControls["confirmPassword"].touched) &&
                changePasswordFormControls["confirmPassword"].invalid ) { @if (
                changePasswordFormControls["confirmPassword"].hasError( "required" ) ) {
                <div class="text-danger fs-12 ps-1 mt-1">Password confirmation is mandatory!</div>
                } @else if ( changePasswordFormControls["confirmPassword"].getError(
                "passwordMismatch" ) ) {
                <div class="text-danger fs-12 ps-1 mt-1">Password mismatched!</div>
                } }
              </div>

              <div class="d-grid">
                @if (!loader) {
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="changePasswordForm.invalid"
                >
                  Reset Password
                </button>
                } @if (loader) {
                <button type="button" class="btn btn-primary cursor-progress">
                  <div class="spinner-border spinner-border-sm" role="status"></div>
                </button>
                }
              </div>
              }
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
