.headerBar {
  background-color: #041c34;
  height: 60px;
  position: relative;
  z-index: 10;
  box-shadow: 0px 0px 1px lightblue;
}
.headerLogo {
  padding-inline: 40px;
  padding-block: 12px;
  width: 80px;
}
.circularAvtar {
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.padding-block-12 {
  padding-block: 12px;
}

.btn-signup {
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding-block: 4px;
}

.btn-signup:hover {
  background-color: white;
  color: black;
}
