.card {
  width: 100%;
  height: auto;
}

.business {
  width: 200px;
  height: 30px;
  background-color: #ff6f00;
}

.business img {
  width: 24px;
}

.edit-icon {
  width: 18px;
  height: 18px;
  font-size: 10px;
}

.accSettingSubtitle {
  font-size: 13px;
}

.border-line {
  border-right: 1px #667380 solid;
}

//input box inner icon css
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .innerText {
  position: absolute;
  cursor: pointer;
}

/* align icon */
.left-addon .innerText {
  left: 5px;
  padding: 5px 10px 5px 10px;
}
.right-addon .innerText {
  right: 25px;
  padding: 10px 10px 5px 10px;
}

/* add padding  */
.left-addon input {
  padding-left: 50px;
}

.right-addon input {
  padding-right: 30px;
}

.checkmark-container {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 10px auto;
  box-shadow: inset 0px 0px 0px #007a4d;
  animation:
    fill 0.5s ease-in 0.3s forwards,
    scale 0.4s ease-in-out 0.9s both;
}

.checkmark-icon {
  font-size: 34px;
  color: #fff;
  opacity: 0;
  transform: scale(0);
  animation: appear 0.4s cubic-bezier(1, 0, 0, 1) 0.3s forwards;
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #007a4d;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

//selfie-css
.profileImage {
  max-width: 80px;
  height: 80px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  box-shadow: 0 5px 60px rgb(218, 229, 255);
  border: 1px solid rgb(171, 202, 255);
}

.editImgBtn {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: white;
  color: blue;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 1px solid rgb(171, 202, 255);
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 75%;
}

.deleteImgBtn {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  background-color: red;
  color: white;
  box-shadow: 0 10px 60px rgb(218, 229, 255);
  border: 2px solid red;
  border-radius: 50%;
  position: absolute;
  top: 70%;
  left: 70%;
}

.profilePhoto {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px; /* Adjust font size without affecting div size */
  overflow: hidden; /* Prevents text from overflowing */
  color: white;
  object-fit: cover;
}
