<form [formGroup]="amountDetailsForm" class="text-dark">
  <div formArrayName="items">
    @for (item of items.controls; track item.get('id')?.value) {
    <div [formGroupName]="$index">
      <div class="formGroup">
        <div class="row mt-3">
          <div class="formGroup col-4">
            <label for="name" class="form-label"
              >{{ !builder ? 'Item Name' : 'Project Name' }}
              <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control custom-input"
              formControlName="name"
              placeholder="{{ !builder ? 'Item Name' : 'Project Name' }}"
              [ngClass]="
                item.get('name')?.invalid && item.get('name')?.touched
                  ? 'is-invalid custom-input-error'
                  : ''
              "
            />
            @if(item.get('name')?.invalid && item.get('name').touched) {
            <div class="text-danger fst-italic">
              {{ !builder ? 'Item Name' : 'Project Name' }} is required!
            </div>
            }
          </div>
          <div class="formGroup col-3">
            <label for="quantity" class="form-label"
              >{{ builder ? 'Unit No' : 'Quantity' }} <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control custom-input"
              formControlName="quantity"
              placeholder="{{ builder ? 'Unit No' : 'Quantity' }}"
              [ngClass]="
                item.get('quantity')?.invalid && item.get('quantity')?.touched
                  ? 'is-invalid custom-input-error'
                  : ''
              "
            />
            @if(item.get('quantity')?.invalid && item.get('quantity').touched) {
            <div class="text-danger fst-italic">
              {{ builder ? 'Unit No' : 'Quantity' }} is required!
            </div>
            }
          </div>
          <div class="formGroup col-4">
            <label for="pricePerQuantity" class="form-label">
              {{ builder ? 'Price' : 'Price Per Quantity' }}
              <span class="text-danger">*</span></label
            >
            <div class="inner-addon right-addon">
              <div class="innerText">
                <img
                  class="rounded-circle"
                  [src]="`assets/icons/${selectedCurrency}.svg`"
                  width="20"
                  height="20"
                  alt=""
                />
              </div>
              <input
                type="number"
                class="form-control custom-input"
                formControlName="pricePerQuantity"
                [placeholder]="selectedCurrency"
                [ngClass]="
                  item.get('pricePerQuantity')?.invalid && item.get('pricePerQuantity')?.touched
                    ? 'is-invalid custom-input-error'
                    : ''
                "
              />
            </div>
            @if(item.get('pricePerQuantity')?.invalid && item.get('pricePerQuantity').touched) {
            <div class="text-danger fst-italic">
              {{ builder ? 'Price' : 'Price/Quantity' }} is required!
            </div>
            }
          </div>
          @if(items.length > 1) {
          <div class="form-group col-1 mt-1 ms-0 ps-0">
            <button
              matTooltip="Remove Item"
              type="button"
              class="btn mt-4 ms-0 ps-0"
              (click)="removeItem($index)"
            >
              <i class="bi bi-trash text-danger fs-5"></i>
            </button>
          </div>
          }
        </div>
      </div>
    </div>

    } @if(items.length<5){
    <button class="btn btn-link text-primary text-decoration-none" (click)="addItem()">
      + Add Item
    </button>
    }
  </div>
  <div class="formGroup">
    <div class="row gap-3 my-2">
      <div class="formGroup col">
        <label for="discount" class="form-label">Discount <span class="text-danger">*</span></label>
        <div class="inner-addon right-addon">
          <div class="innerText">%</div>
          <input
            type="number"
            class="form-control custom-input"
            formControlName="discount"
            placeholder="Discount"
            [ngClass]="
              amountDetailsForm.get('discount')?.invalid &&
              amountDetailsForm.get('discount')?.touched
                ? 'is-invalid custom-input-error'
                : ''
            "
          />
          @if(amountDetailsForm.get('discount')?.invalid &&
          amountDetailsForm.get('discount')?.touched) {
          <div class="text-danger fst-italic">Discount is required!</div>
          }
        </div>
      </div>
      <div class="formGroup col">
        <label for="taxes" class="form-label">Taxes<span class="text-danger">*</span></label>
        <div class="inner-addon right-addon">
          <div class="innerText">%</div>
          <input
            type="number"
            class="form-control custom-input"
            formControlName="taxes"
            placeholder="Taxes"
            [ngClass]="
              amountDetailsForm.get('taxes')?.invalid && amountDetailsForm.get('taxes')?.touched
                ? 'is-invalid custom-input-error'
                : ''
            "
          />
          @if(amountDetailsForm.get('taxes')?.invalid && amountDetailsForm.get('taxes')?.touched) {
          <div class="text-danger fst-italic">Taxes field is required!</div>
          }
        </div>
      </div>
    </div>
  </div>
  <div
    class="form-group d-flex justify-content-between bg-success-subtle text-dark p-3 my-4 rounded-2"
  >
    <div class="row row-cols-2">
      <div class="col">Total Invoice Amount</div>
      <div class="col text-end">
        {{ totalItemsValue | number : (selectedCurrency == 'AED' ? '1.3-3' : '1.2-2') }}
        {{ selectedCurrency }}
      </div>
      <div class="col">Discount</div>
      <div class="col text-end">
        {{ discountPrice | number : (selectedCurrency == 'AED' ? '1.3-3' : '1.2-2') }}
        {{ selectedCurrency }}
      </div>
      <div class="col">Tax</div>
      <div class="col text-end">
        {{ taxesPrice | number : (selectedCurrency == 'AED' ? '1.3-3' : '1.2-2') }}
        {{ selectedCurrency }}
      </div>
      <div class="col fw-bold">
        Amount will be paid
        <i
          class="bi bi-info-circle text-primary fs-13 cursor-pointer mx-2"
          matTooltip="{{ currencyAmount }} {{ selectedCurrency }}  = {{ cryptoAmount }} {{
            selectedCrypto
          }}"
          matTooltipPosition="above"
        ></i>
      </div>
      <div class="col fw-medium text-end">
        <span class="text-primary">{{ finalAmount | number : '1.6-6' }}</span>
        <span class="text-primary"> {{ selectedCrypto }} </span>
      </div>
    </div>
  </div>
  <div class="formGroup my-5">
    <div class="row">
      <button
        class="btn btn-primary col mx-3"
        type="button"
        [disabled]="amountDetailsForm.invalid"
        (click)="openPreview()"
      >
        Preview
      </button>
    </div>
  </div>
</form>
