.text-bg {
  background-color: #ffcc80;
}

.custom-modal-container {
  width: 500px;
}

.modal-img {
  width: 60px;
}

table {
  text-align: center;
  border: 1px solid #a0a0a0;
}

th {
  background-color: #a0a0a0;
  height: 30px;
  padding: 2px;
  color: white;
}

td {
  height: 40px;
  padding: 12px;
  border: 0px;
}

.container-fluid {
  margin-bottom: 100px;
}

.bg-grey {
  background-color: #899499;
}

.custom-input::placeholder {
  font-size: 13px;
}

.customBg {
  background-color: #d3d3d3;
}

.shadow {
  box-shadow: 0 0 10px lightgrey !important;
}
